DB_HOST=mysql-luxevoyage-projetoluxevoyage.a.aivencloud.com
DB_PORT=18410
DB_USER=avnadmin
DB_PASSWORD=senha 123
DB_NAME=LuxeVoyage

EMAIL_REMETENTE=matheus_schneider150@estudante.sesisenai.org.br
EMAIL_DESTINATARIO=destinatario@empresa.com
